{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}
        {{#link-to 'post' post}}{{post.title}}{{/link-to}}
      {{/text.headline}}
      {{#text.subhead}}
        {{!-- TODO use actual date --}}
        {{post.author.identification}}, 20.04.2016
      {{/text.subhead}}
    {{/title.text}}
    {{#paper-chips
      readOnly=true
      content=post.categories as |category| }}
      {{#link-to 'blog' (query-params categories=(array category.id))}}
        {{category.title}}
      {{/link-to}}
    {{/paper-chips}}
  {{/card.title}}
  {{#card.content class="layout-row layout-align-space-between"}}
      <div class="card-content-inner">
        <div>
          {{post.gist}}
        </div>

        {{#if listView}}
          <div class="read-more">
            {{#link-to 'post' post}}read full post{{/link-to}}
          </div>
        {{else}}
          <div>
            {{markdown-to-html
              markdown=post.body
              extensions='targetblank'
            }}
          </div>
        {{/if}}
      </div>
      {{#if isAdmin}}
        {{#card.actions class="layout-row"}}
          {{#link-to 'post.edit' post class='md-button'}}Edit{{/link-to}}
          {{#paper-button click=(route-action "remove" post)}}Delete{{/paper-button}}
          {{#paper-button click=(route-action "togglePublic" post)}}{{togglePublicAction}}{{/paper-button}}
        {{/card.actions}}
      {{/if}}
  {{/card.content}}
{{/paper-card}}
