{{!-- <div class="flex-50"> --}}
{{#paper-form onSubmit=(action "submit") as |form|}}
  <form {{action form.onSubmit on="submit"}}>
    {{form.input class="title" label="Title" value=title onChange=(action (mut title))}}
    <div><label>categories:</label></div>

    {{tags-multiselect
      categories=formCategories
      availableCategoryRecords=availableCategoryRecords
      addItem=(action "addItem")
      removeItem=(action "removeItem")
      placeholder="Add a tag"
    }}

    {{form.input
      textarea=true
      label="gist"
      value=gist
      onChange=(action (mut gist))
      block=true
    }}

    {{form.input
      textarea=true
      label="body"
      value=body
      onChange=(action (mut body))
      block=true
    }}

    {{#form.submit-button raised=true onClick=(action "submit")}}Submit{{/form.submit-button}}
  </form>

  {{!-- <div class="flex-50">
    <h3>Preview</h3>
    {{blog-post post=(hash body=body title=title categories=formCategories)}}
  </div> --}}
{{/paper-form}}
