{{#each model.positions as |stage|}}
  {{#paper-card as |card|}}
    {{#card.title as |title|}}
      {{#title.text as |text|}}
        {{#text.headline}}{{stage.company}}{{/text.headline}}
        {{#text.subhead}}{{stage.from}} - {{stage.to}}{{/text.subhead}}
        {{!-- TODO you might want to move it to the right as here: http://joelcox.io/ --}}
      {{/title.text}}
      {{!-- TODO use  ="/images/(stage.company) but first sort out issues with jpg vs png extenssions --}}
      <div class="custom-card-img">
        <img src={{concat "/icons/" stage.icon}} >
      </div>
    {{/card.title}}
    {{#card.content}}
      <p>
        {{{stage.what}}}
      </p>
      {{responsibilities-list responsibilities=stage.responsibilities}}
      {{!-- TODO add alt and link blank to technology website --}}
      {{skills-list skills=stage.technologies class="layout-row layout-align-center-stretch layout-wrap"}}

      {{!-- TODO use component for video --}}
      {{#if stage.video}}
        <div class="video-container">
          <iframe
            src={{stage.video}}
            frameborder="0"
            allowfullscreen>
          </iframe>
        </div>
      {{/if}}

      {{#card.actions}}
        {{#paper-button href=stage.link.href target="_blank"}}{{stage.link.what}}{{/paper-button}}
      {{/card.actions}}
    {{/card.content}}
  {{/paper-card}}
{{/each}}
